.controls{
    border-radius: 8px;position: relative;left: -40px;top: 50px;
    color:white;background-color:black;height: 50px;width: 100px;
}
#break{
    border-radius: 8px;position: relative;left: 280px;top: 1px;
    color:white;background-color:black;height: 50px;width: 100px;
}
.container{
    width: 500px;border-radius: 8px;box-shadow: var(--container-box-shadow);
}
h2{font-family:monospace; font-weight: 500px;}
#hours{
    width: 200px;height: 30px;border-radius: 8px;position: relative;
    left: 150px;
}
*{
    margin: 0; padding: 0; box-sizing: border-box;font-weight: 500;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;width: 100%; height: 100vh; justify-content: center;align-items: center;
    background-image: linear-gradient(45deg,#3023ae 0%,#f09 100%);
}
h1{
   text-align: center; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bolder;font-size:50px ;
}
#time{
    text-align: center;font-weight: bolder;font-size:100px ;position: relative;top: 40px;
}
.nav button{
    background-color: black;overflow: hidden;border-radius: 4px;width: 200px;
}
.nav button{
    float: left;color:#f2f2f2;text-align: center;padding: 14px 16px;
    text-decoration: none;font-size: 20px;position: relative;left: 20px;
}
.nav button:hover{
background-color: #ddd;color: black;
}
h2{position: relative;left: 20px;}
@media only screen and (max-width: 400px){
    h1{
        text-align: center; font-family: cursive;font-weight: bolder;font-size:20px ;position: relative;left: 0px;right: 100px;
     }   
     #time{
        text-align: center;font-weight: bolder;font-size:60px ;position: relative;top: 70px;left: 0px;
    }
    .nav{
        background-color: black;overflow: hidden;border-radius: 4px;width: 200px;position: relative;
    }
    .nav a{
        float: left;color:#f2f2f2;text-align: center;padding: 14px 16px;
        text-decoration: none;font-size: 20px;
    }
    .container{
        width: 300px;border-radius: 8px;box-shadow: var(--container-box-shadow);
    }
    #hours{
        width: 200px;height: 30px;border-radius: 8px;position: relative;
        left: 60px;
}
.controls{
    border-radius: 8px;position: relative;left: -100px;top: 50px;
    color:white;background-color:black;height: 50px;width: 100px;
    }
h2{
    font-family:monospace;
}
img{width: 20px;height: 20px; border-radius: 50%;
}}
img{
    width: 70px;height: 70px;border-radius: 50%;position: relative;top: 0px;left:0px;bottom: 0px;
}