/* Navigation */

#navbar {
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* Home section */
#home{
    height: 868px; 
    padding: 3px 28px;
}

#home::before{
    height: 480px; 
}

#home p{
    font-size: 13px;
}

/* Services section  */
#services{
    flex-direction: column;
}

#services .box { 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}

/* Clients section */
#products{
    flex-wrap: wrap;
}

#products img{
    width: 66px;
    padding: 6px;
    height: auto;
}

/* Contact us section */
#contactbox form{
    width:80%;
}
/* Footer */

/* Utility classes */
.hprimary{
    font-size:26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}