.glass{
    display: flex;
    flex-direction: column;
    
    background: rgba(255, 255, 255, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px #4747470b;
    backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    @apply border-4 border-gray-50 shrink w-[40%] rounded-3xl py-5 px-7  min-h-min min-w-max;
}

.glass2{
    display: flex;
    flex-direction: column;
    
    background: rgba(255, 255, 255, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px #4747470b;
    backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    @apply border-4 border-gray-50 shrink w-[100%] rounded-3xl pt-40 mt-20 px-7 min-w-max;
}

.profile_img{
    @apply border-4 border-gray-100 w-[135px] rounded-full shadow-lg cursor-pointer;
    @apply hover:border-gray-200;
}

.profile_img2{
    @apply border-4 border-gray-100 w-[65px] mx-2  rounded-full shadow-lg cursor-pointer;
    
}

.textbox{
    @apply border-0 px-5 py-4 rounded-xl w-3/4 shadow-sm text-lg;
    @apply focus:outline-none;
}

.textbox2{
    @apply border-0 px-5 py-4 rounded-xl w-3/4 shadow-sm text-lg;
    @apply focus:outline-none;
}

.btn{
    @apply border bg-indigo-500 w-3/4 py-4 rounded-lg text-gray-50 text-xl shadow-sm text-center;
}
.btn2{
    @apply border bg-indigo-500 w-2/4 h-2/4 py-4 rounded-lg text-gray-50 text-xl shadow-sm text-center;
}
.btn3{
    @apply border bg-indigo-500 w-3/4 h-1/4 py-0 rounded-lg text-gray-50 text-xl shadow-sm text-center;
}
.btn4{
    @apply border bg-indigo-500 w-3/4 h-1/4 py-2 rounded-lg text-gray-50 text-xl shadow-sm text-center;
}


.btn:hover{
    background-color: #ff6a6a;
}

input[type='file']{
    display: none;
}
