/* Header */
body{
  padding: 0px;
  margin: 0px;

}

.table1 {
  width : 100%;
  border-spacing: 0px;
  padding: 0px;
  background: black;
  color: white;
  text-align: center;
  font-style: "calibri";
}

.row1 {
  height: 50px;
}

td {
  border-spacing:0px;
  padding: 0px;
  font-family: "calibri";
  font-size: 20px;

}

#name {
  font-size: 35px;
  text-align: left;
  font-weight: 900;
}

#tab:hover {
  background-color: red;
  color: black;
  cursor:pointer;
  font-weight: bold;
  font-family: "calibri";
  font-size: 20px;
}

#logo {
 
}

#logo:hover {
  border-radius: 70px;
}

hr {
  width: 100%;
  height:3px;
  margin-top: 0px;
  background:red;
  border: 0px;
}

.tab1 {
  background-color: red;
  color: black;
  font-weight: bold;
}


.table2 {
  width: 100%;
  padding:0px;
  border-spacing: 0px;
  color: white;
  background-color: black;
  font-family: "calibri";
}

.row2 {
  height : 280px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

#a1 {
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding-left: 30px;
  font-size: 18px;
}

.m1 {
  background-color: red;
  color:black;
  font-weight: bold;
}

.ruler {
  width: 100%;
  height: 3px;
  background-color: red;
}

.box{
  height:90%;
  width:40%;
  background-color: rgb(24, 24, 24);
  opacity:0.5;
  margin: auto;
  position: relative;bottom:5%;
  border-radius:15%;
}
button{
  position: relative;top:85%;
  background-color: red;
}
*{
  font-family: 'capiliary', snas serif;
}
/* slider */
#carouselExampleAutoplaying:hover{
  opacity: 0.8;
}

#carouselExampleAutoplaying{
  transition: 1s;
}

.carousel-item{
  data-bs-interval="100"
}

/*card*/
.cards{
  width:100%;
  height: auto;
  align-self: center;
}

.ruler2 {
  width:25%;
  height:10px;
  background-color: black;
}

/* Subscribe newsletter */
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color:grey;
  width: 400px;
  border-radius:10px ;
  position: absolute;top:1690PX;
}
.input-field{
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 0;
  position: center;

}
.container{
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 10px;
}
.input{
 margin: auto;
 width: 200px;
 height:30px ;
  border-style: groove;border-radius: 5px;

  background:white;
  border: 2px solid black;
  color:black;
  justify-content: center;
}

.cover{
  position: relative;
  width: 300px;
  height: 300px;
  background:black;opacity: 0.8;
  border: 2px solid;
  color: black;
}

.bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 10px 0;
}
input[type=submit] {
  background-color:orangered;
  color: white;
  border: none;
  height: 30px;
  font-size: 20px;
  width: 70%;
  position: relative;left:45px;
}

input[type=submit]:hover {
  opacity: 1;
}


#ruler1 {
  margin-bottom: 0px;
}

u {
  font-family: "calibri";
  font-size: 30px;
}

ul {
  text-align: center;
}

iframe {
  margin-right: 20px;
}
/* Contact Us page css */
.contactmain img{
  height: 547px;width: 50%;
  position: absolute;left: 0px;top:54px;
  filter: brightness(35%);
}

.contactmain h1{
  position: absolute;top: 60px;right: 260px;
  font-family: 'Lilita One', cursive;
}
.contactform{
  position: absolute;top: 120px;right:150px;
}
.contactform button{
  background-color: chartreuse;
  position: relative;top: 30px;right:220px;
  width: px;
}
.contactform p{
  font-family: 'Bebas Neue', cursive;
  font-size:20px;
}

.map {
  width:250px;
  height:250px;
  border:2px solid grey;
  margin-left: 20px;
  padding-right: 25px;
  border:0px;
}

.map:hover {
  opacity: 0.9;
}

footer{
  position: absolute;
  top:1970px;
  width:100%;
  margin:0px;
}
